


body {
	font-family:DengXian;
	background-color:aliceblue;
	
}

h3 {
	color:darkblue;
}

#confirm {
	border-radius:10px;
	width:200px;
}

#date {
	font-family:Britannic;
	color:darkolivegreen;
	font-size:20px;
	background-color:antiquewhite;
}

.button{
	color:indigo;
	border-radius:5px;
	background-color:azure;
}

.result {
	color:darkblue;
	font-family:Constantia;

}

