


body {
	font-family:Verdana;
	background-color:aliceblue;
	
}

h3 {
	color:darkblue;
}

#confirm {
	border-radius:10px;
	width:200px;
}

#date {
	font-family:FangSong;
	color:darkolivegreen;
	font-size:20px;
	background-color:antiquewhite;
}
