body {
	background-color:lavenderblush;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
	color:navy;
	font-style:oblique;
	font-family:Candara;
}

#Calendar1 {
	background-color: linen;
}
#para {
	background-color:antiquewhite;
	width:300px;
	border-radius:5px;
	
	font-family:Arial;
	font-size:20px;
	color:brown;
}
